input {
    border: 0 none;
}

body {
    background-color: #EEEEEE;
}

.search, nav {
    background-color: #FFFFFF;
}

.search {
    padding: 10px;
}

.searchbox {
    height: 30px;
}

.searchbox .searchtxt {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #EEEEEE;
}

.searchbox .searchbtn {
    color: #FFFFFF;
    height: 100%;
    width: 70px;
    right: 0px;
    top: 0;
    background-color: #ff841d;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.nav-bor{
    width: 100%;
    height: 36px;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid #CCCCCC;
    background: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#ebebeb));
    padding-left: 10px;
}
.top{
    width: 100%;
    background-color: #FFFFFF;
}
.top .top-bar{
    width: 100%;
    padding: 10px 5px;

}
.top .top-bar .top-bar-title{
    height: 36px;
    background: #EEEEEE;
    border: 1px solid #CCCCCC;
    color: #874604;
    line-height: 36px;
    font-size: 16px;
    padding-left: 10px;
}
.top .hot-product{
    width: 100%;
    background-color: #FFFFFF;
}

.top .hot-product ul li{
    padding:0 10px;
    border-bottom: 1px solid #CCCCCC;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
}
.top .hot-product ul li a{
    width: 100%;
    height: 100%;
    display: block;
}
.top .hot-product ul li span{
    float: right;
}
.top .hot-product >div h3{
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    background-color: #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    padding:0 10px;
}
.top .hot-product >div h3 span{
    float: right;
}
