body{
    background-color: #f1f1f1;
}
/*搜索*/
.search{
    width: 100%;
    height: 50px;
    background-color: #fff;
}
.search-all {
    width: 100%;
    height: 30px;
    text-align: center;
    padding-right: 90px;
    position: relative;
}
.search-all input {
    height: 30px;
    border: none;
    line-height: 30px;
    border-radius: 15px;
    margin-top:10px;
    box-sizing: border-box;
}
.search-all input:nth-child(1){
    width: 100%;
    background-color: #f1f1f1;
    padding-left: 20px;
    font-size: 13px;
    margin-left:10px;
}
.search-all input:nth-child(2){
    width: 63px;
    background-color: #FF8000;
    color:#fff;
    font-size: 16px;
    position: absolute;
    top:0;
    right:10px;
}
/*轮播*/
/*轮播*/
.carousel {
    overflow: hidden;
    width: 100%;
    height: 70px;
    margin-top: 15px;
    background: url("../img/banner1.jpg") no-repeat 50% 50%;
}
.carousel .item{
    width: 100%;
    height: 100%;
}
.item {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.heart {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    z-index: 2;
    /*background: linear-gradient(-90deg, #F50A45 0%, #d5093c 40%);*/
    background: url("../img/banner11.png") no-repeat center;
    background-size: 70%;
    animation:move 1s infinite linear;
}
.heart.top {
    z-index: 3;
}
.side {
    width: 100%;
    height: 100%;
}
.left {
    left: 62px;
}
@keyframes move{
    0%{
        transform: scale(1) rotate(0deg);
    }
    50%{
        transform: scale(1.2) rotate(0deg);
    }
    100%{
        transform: scale(1) rotate(0deg);
    }
}
/*导航*/
.nav-all {
    width: 100%;
    height: 100%;
}
.nav-all ul {
    width: 100%;
    height: 100%;
}
.nav-all ul li {
    float: left;
    list-style: none;
    width: 25%;
    padding:10px 15px 10px 15px;
    background-color: #fff;
}
.nav-all ul li a img{
    display: block;
    width:50px;
    margin: 0 auto;
}
.nav-all ul li a p {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}
.nav-all ul li:nth-last-child(-n+4){
    display: none;
}
/*�ۿۿ�ʼ*/
.rebate-all {
    width: 100%;
    height: 100%;
    margin-top: 5px;
}
.rebate-top {
    width: 100%;
    height: 35px;
    background-color: #ff9000;
}
.rebate-all .rebate-top p {
    padding-left: 10px;
    line-height: 35px;
    color: #fff;
    font-size: 16px;
    display: block;
    float:left;
}
.rebate-top img {
    display: block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    float:right;
    margin-top: 7px;
}
.rebate-all ul {
    width: 100%;
    height: 100%;
    background-color:#fff;
}
.rebate-all .rebate-bottom li{
    height: 100%;
    width: 100%;
    list-style: none;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
}
.rebate-bottom a {
    display: block;
    padding: 14px 8px;
}
.rebate-bottom a .pic img {
    width: 100px;
    height: 100px;
    display: block;
    float: left;
}
.rebate-bottom li a .minute{
    overflow: hidden;
}
.rebate-bottom li a .minute .title{
    color: #333;
    margin:5px 0 0 10px;
    font-size: 15px;
}
.rebate-bottom li a .minute .title span{
    font-size: 15px;
    color: red;
}
.minute .time {
    color: #a1a1a1;
    margin:60px 0 0 0;
    font-size: 12px;
}
.minute .time span:first-child {
    float: left;
}
.minute .time span:last-child{
    float: right;
}
.minute .time span:last-child i{
    width: 14px;
    height: 15px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    vertical-align: middle;
    margin-right: 4px;
    background-image: url("../img/comments.png");
    background-size: 14px 13px;
    color: rgba(69, 58, 78, 0.2);
}
.buttom {
    width: 100%;
    background-color: #ffffff;
    padding-top:10px;
}
.buttom a {
    display: block;
    background-image: linear-gradient(#fff,#f4f4f4);
    width: 80%;
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 13px;
    margin: 0 auto;
}



/*β����ʼ*/
.footer-all {
    width: 100%;
    height: 100%;
    background-color:#f1f1f1;
}
.footer-all .footer-top{
    height: 40px;
    margin-top:30px;
    margin-bottom: 20px;
    border:1px solid #c4c4c4;
    border-right: none;
    border-left: none;
}
.footer-all .footer-top a {
    display: block;
    float: left;
    line-height: 40px;
    text-align: center;
    border-right: 1px solid #c4c4c4;
    width: 30%;
    font-size: 14px;
}
.footer-all .footer-top a:nth-child(3){
    width: 40%;
    border-right: none;
}
.footer-all .footer-top img{
    width: 15px;
    height: 15px;
}
.footer-all {
    width: 100%;
    height: 100%;
    margin-top:20px;
}
.footer-bottom {
    margin: 0 auto;
    margin-bottom:20px;
}
.footer-bottom p {
    text-align: center;
}
.footer-bottom p a {
    color: red;
}
.footer-bottom p span {
    color:#666 ;
}
.footer-bottom div a {
    display: block;
    color: #666;
    text-align: center;
}
